<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='dropdown.css') }}"/>
<div class="center-on-page">
  <h1> Select a language </h1>
  <form action="/submit" method="GET">
    <div class="select">
      <select name="lang" id="lang">
        {% for language in languages %}
        <option name="{{language['name']}}" value="{{language['language']}}">{{language['name']}}</option>
        {% endfor %}
      </select>
  </div>
    <br>
    <input class="submitButton" type="submit" value="Submit">
  </form>
</div>
